<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5sn4SPJUOFHUxlgZtcRyK4Di5DyuJ-zc</string>
	<key>GCM_SENDER_ID</key>
	<string>572479542698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appdomotica.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appdomotica-7e915</string>
	<key>STORAGE_BUCKET</key>
	<string>appdomotica-7e915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572479542698:ios:0b272e9a671036e43d07d3</string>
</dict>
</plist>